.login-page.login-2 .login-box {
  border-radius: 4px !important;
}

.login-page.login-2 {
  background: #131323;
  border: 1px solid #131323;
  color: #eeeeee;
}

.login-page.login-2 #email,
.login-page.login-2 #password,
.login-page.login-2 #password_confirmation {
  background-color: #eeeeee;
  border: 1px solid #eeeeee;
  color: black !important;
}

.login-page.login-2 .logo-main img {
  width: 100px;
}

.login-page.login-2 .login-header {
  text-align: center;
}

.login-page.login-2 .login-header h2 {
  font-weight: 900;
  font-style: normal;
  font-size: 28px;
}

.login-page.login-2 .login-header p {
  font-size: 13px;
}

.login-page.login-3 .login-box {
  background: #25303D;
  border: 1px solid #25303D;
  color: #eeeeee;
}

.login-page.login-3 .c-input.c-checkbox {
  font-size: 14px;
}

.login-page.login-3 .auth-action-links {
  font-size: 14px;
}

.login-3 a.auth-action-links {
  color: #eeeeee !important;
}

.login-3 a.auth-action-links:hover {
  color: #eeeeee !important;
  text-decoration: underline !important;
}

.login-2 a.auth-action-links {
  color: #333 !important;
}

.login-2 a.auth-action-links:hover {
  color: #e2103d !important;
  text-decoration: underline !important;
}

.login-page.login-3 .c-input {
  color: #eeeeee;
}

.btn-theme {
  background-color: #7ac143;
  border-color: #7ac143;
}

.btn-theme:hover {
  background-color: #7ac143;
  border-color: #7ac143;
  cursor: pointer;
}

.second_cta_auth {
  margin: 20px;
}

